@model WebApplication1.Models.RectangleModel

<h2>Résultat</h2>

<ul>
    <li>Longueur: @Model.Longueur</li>
    <li>Largeur: @Model.Largeur</li>
    <li>Surface: @Model.Surface</li>
    <li>Périmètre: @Model.Perimetre</li>
</ul>