
@{
    ViewBag.Title = "List";
}

<h2>Etudiant</h2>

<table border="1">
    <tr>
        <td>Hassan</td>
    </tr>
    <tr>
        <td>hayable</td>
    </tr>
    <tr>
        <td>77112233</td>
    </tr>
</table>

